@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

html {
  font-family: 'Orbitron', sans-serif;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div.clock {
  background-color: tomato;
  text-align: center;
  font-size: 7rem;
  padding: 2rem 5rem;
  width: 35rem;
  border-radius: 5rem;
}
